<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a junior at the <strong> University of California, Berkeley</strong> and am
      the Head of Mobile Development and Founder at 
      <a class="underline-link" href="https://www.sillo.co/" target="_blank">Sillo</a>, building new ways to connect with your organizations.
      I am also an iOS Engineer at 
      <a class="underline-link" href="https://octo.asuc.org/projects/berkeleymobile.html" target="_blank">Berkeley Mobile</a> building a central app for all things Berkeley.
    </p>
    <!-- {% include employment-status.html %} -->
  </div>
</section>
