<header class="intro">
  <div class = "content" style="align-items: center;">
    <div class = "text" >
      <h1 class="intro__hello">Hi!
        <span class="emoji wave-hand animated"></span>
      </h1>

      <h2 class="intro__tagline">I'm
        <span class="name">Eashan Mathur</span>, a human-centric mobile and software engineer wanting to build impactful experiences
        <span class="emoji technologist"></span>
      </h2>

      <h3 class="intro__contact">
        <span>Get in touch </span>
        <span class=" emoji pointer"></span>
        <span>
          <a href="mailto:eashanm@berkeley.edu" target="_blank" class="highlight-link">eashanm@berkeley.edu</a>
        </span>
      </h3>
      <h3>
      <a href="{{site.resume}}" target="_blank" class="arrow-link", style= "border-radius: 25px; padding-top: 40px;">View My Resume</a>
      <!-- <button href="{{site.resume}}" target="_blank" class="button--small">View My Resume</button> -->
      </h3>
    </div>
    <div class = "photoColumn">
      <img class="roundedImage" src="https://eashanmathur.com/img/headshot.jpg">
    </div>
  </div>
  <!-- <div class="footer__links">
    {% for link in site.social %}
    <a href="{{link.url}}" target="_blank" title="{{link.title}}">
      <span class="text">{{link.title}}</span>
      <img src="{{site.baseurl}}/img/social/{{link.title}}.svg" alt="{{link.title}}">
    </a>
    {% endfor %}
  </div> -->
  
</header>
